<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title><%- project.name %></title>
    <style>
      <%- project.cssFile %>
    </style>
  </head>
  <body>
    <%- project.htmlFile %>
    <script>
      <%- project.jsFile %>
    </script>
  </body>
</html>
